<header class="fixed top-0 w-full z-20">
  <div class="bg-[#051342] w-full h-auto py-2 sm:py-0 sm:h-16">
    <div
      class="h-full w-full flex flex-col justify-center items-center sm:flex-row sm:justify-between sm:px-2"
    >
      <div class="h-full flex items-center justify-start w-1/4">
        <a href="#home"
          ><img
            class="max-w-[200px] min-w-[40px]"
            src="\assets\images\FITSNAP.png"
            alt="FITSNAP"
        /></a>
      </div>
      <div class="sm:w-3/4 h-full mr-4">
        <ul
          class="text-white flex justify-end items-center text-center h-full w-full space-x-5 text-[8px] sm:text-xs md:text-sm lg:text-base"
        >
          <li>
            <button>
              <a href="#home">Home</a>
            </button>
          </li>
          <li>
            <a href="#workoutplan"> WORKOUTPLAN </a>
          </li>
          <li>
            <a href="#aitracker">AI TRACKER</a>
          </li>
          <li><a href="#exercise">EXERCISE</a></li>
          <li>
            <a href="#about">ABOUT</a>
          </li>
          <li>
            <div
              class="flex justify-center items-center text-center space-x-1 px-2 py-1 bg-[#2E2E44]"
            >
              <img class="w-1/4" src="/assets/icons/user-icon.png" />
              <a href="/login">LOGIN</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<section id="home">
  <div class="w-full h-full mt-20">
    <div class="mx-16 my-6">
      <div class="relative">
        <img class="w-full" src="/assets/images/img.jpg" alt="image" />
        <img class="absolute top-1/2 left-1/2" src="/assets/icons/Vector.png" />
      </div>
    </div>
  </div>
</section>
<section id="workoutplan">
  <div class="w-full">
    <div class="mx-16 space-y-8">
      <div class="text-center space-y-4">
        <h1 class="text-[#100D81] text-3xl font-semibold">
          Barbell Bicep Curl
        </h1>
        <p>
          The barbell Curl is a Classic and effective bicep exercise that target
          the muscles in <br />
          the front of your upper arms, specifically the biceps branchil.
        </p>
      </div>

      <div class="grid grid-cols-3">
        <div>
          <div class="grid grid-cols-1 space-y-4">
            <div class="text-left space-y-1 relative">
              <h1 class="text-[#100D81] text-lg font-semibold">
                Bicep Development
              </h1>
              <img class="absolute" src="/assets/icons/Vector1.png" alt="" />
              <p>
                he barbell bicep curl specifically <br />
                targets the biceps brachii,<br />
                contributing to their development<br />
                and definition
              </p>
            </div>

            <div class="text-left space-y-1 relative">
              <h1 class="text-[#100D81] text-lg font-semibold">
                Strengthen Building
              </h1>
              <img class="absolute" src="/assets/icons/Vector2.png" />
              <p>
                The exercise allows for heavy<br />
                resistance, promoting strength gains <br />
                in the biceps and surrounding <br />
                muscle groups
              </p>
            </div>
          </div>
        </div>

        <div class="relative">
          <img class="size-[380px]" src="/assets/icons/Ellipse 1.png" />
          <img
            class="absolute top-24"
            src="/assets/images/imgs.png"
            alt="icon"
          />
        </div>

        <div>
          <div class="grid grid-cols-1 space-y-4">
            <div class="text-right space-y-1 relative">
              <h1 class="text-[#100D81] text-lg font-semibold">
                Increased Muscle Engagement
              </h1>
              <img
                class="absolute"
                src="/assets/icons/indicator-right.svg.png"
                alt=""
              />
              <p>
                By maintaining strict form and <br />
                controlling the weight, you ensure that <br />the biceps are
                doing the majority of <br />
                the work, leading to better muscle <br />
                engagement and growth.
              </p>
            </div>
            <div class="text-right space-y-1 relative">
              <h1 class="text-[#100D81] text-lg font-semibold">
                Compound Movement
              </h1>
              <img
                class="absolute"
                src="/assets/icons/indicator-right.svg fill.png"
                alt=""
              />
              <p>
                While primarily an isolation exercise for<br />
                the biceps, the barbell curl involves other<br />
                muscles to a lesser extent, such as the<br />
                forearms, shoulders, and upper back.<br />
                This makes it a compound movement<br />
                that engages multiple muscle groups
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="w-full">
    <div class="lg:mx-64 md:mx-40 sm:mx-24 mx-8 space-y-8 my-10">
      <div class="text-left space-y-4">
        <h1 class="text-[#100D81] text-2xl font-semibold">
          About the Exercise
        </h1>
        <p>
          The barbell curl is a classic and effective bicep exercise that
          targets the<br />
          brmuscles in the front of your upper arms, specifically the biceps
          brachii.<br />
          Barbell curls into your workout routine can help develop and
          strengthen<br />
          your biceps, contributing to overall arm strength and aesthetics
        </p>
      </div>

      <div class="space-y-4">
        <div class="space-y-1">
          <h1 class="text-[#100D81] text-xl font-semibold">Target area</h1>
          <p>Biceps brachii and forearm muscles</p>
        </div>

        <div class="space-y-1">
          <h1 class="text-[#100D81] text-xl font-semibold">
            Level for difficulty
          </h1>
          <p>Beginner friendly</p>
        </div>

        <div class="space-y-1">
          <h1 class="text-[#100D81] text-xl font-semibold">Number of set</h1>
          <p>3</p>
        </div>

        <div class="space-y-1">
          <h1 class="text-[#100D81] text-xl font-semibold">Duration</h1>
          <p>20 minutes</p>
        </div>

        <div class="space-y-1">
          <h1 class="text-[#100D81] text-xl font-semibold">Calories burn</h1>
          <p>150 cal</p>
        </div>

        <div class="space-y-1">
          <h1 class="text-[#100D81] text-xl font-semibold">Equipment needed</h1>
          <p>Barbell</p>
        </div>

        <div class="space-y-1">
          <h1 class="text-[#100D81] text-xl font-semibold">
            Instruction to perform
          </h1>
          <ul class="list-disc ml-6">
            <li>
              Stand up straight with your feet shoulder-width apart. Hold a
              barbell
            </li>
            <li>
              with a shoulder-width grip, palms facing forward (an underhand
              grip).
            </li>
            <li>
              Your hands should be positioned slightly wider than your
              shoulders. Keep
            </li>
            <li>
              your wrists straight and aligned with your forearms. Maintain a
              straight
            </li>
            <li>
              back, chest up, and shoulders back. While keeping your upper arms
            </li>
            <li>
              stationary, exhale and curl the barbell towards your shoulders by
            </li>
            <li>
              flexing your elbows. Focus on contracting your biceps throughout
              the
            </li>
            <li>
              movement. Inhale and slowly lower the barbell back to the starting
            </li>
            <li>
              position with controlled movement. Maintain tension on the biceps
              during
            </li>
            <li>
              the descent; do not let the weight drop. Repeat the movement for
              the
            </li>
            <li>
              desired number of repetitions. Exhale during the lifting
              (concentric)
            </li>
            <li>phase and inhale during the lowering (eccentric) phase.</li>
          </ul>
        </div>
        <div class="space-y-1">
          <h1 class="text-[#100D81] text-xl font-semibold">Tips</h1>
          <ul class="list-disc ml-6">
            <li>
              Avoid using momentum by keeping your body still. Focus on
              isolating the biceps.
            </li>

            <li>
              Use a weight that allows you to maintain proper form and control
              throughout the exercise.
            </li>
            <li>
              Ensure a full range of motion, allowing your arms to fully extend
              at the bottom and flex at the top.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aitracker">
  <div class="w-full">
    <div class="bg-[#042440] w-full flex flex-col h-92">
      <div class="flex w-full justify-center text-left items-center h-80">
        <div class="w-1/2 ml-20 space-y-8">
          <div>
            <h1 class="text-white font-extrabold text-2xl">
              Download FitSnap Now
            </h1>
            <h2 class="text-white font-medium text-xl">
              and turn every workout into a visual masterpiece
            </h2>
          </div>

          <div class="flex space-x-12">
            <div class="w-40 h-12">
              <a href="https://www.apple.com/in/store">
                <button>
                  <img src="/assets/icons/app_store.svg.png" alt="" /></button
              ></a>
            </div>
            <div class="w-40 h-12">
              <a href="https://play.google.com/">
                <button>
                  <img src="/assets/icons/google_play.svg.png" alt="" /></button
              ></a>
            </div>
          </div>
        </div>
        <div class="w-1/2 h-full">
          <div class="flex">
            <div class="w-72 h-[480px] mt-24 z-10">
              <img src="/assets/images/mobile2.png" alt="" />
            </div>
            <div class="w-72 h-[480px] mt-40 z-10">
              <img src="/assets/images/mobile1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <img class="w-full h-12" src="/assets/icons/Vector 10.png" alt="" />
    </div>

    <div class="mx-16 my-12">
      <div class="text-center space-y-3">
        <h1 class="text-[#100D81] text-2xl font-semibold">
          Elevate Your Fitness:The AI Workout Plan - Precision,<br />
          Progression, Perfection
        </h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae,
          possimus nam.<br />
          Facilis soluta, corporis asperiores alias libero ut consequuntur
          doloribus quaerat distinctio sunt voluptate, cumque commodi.<br />
          Aliquid fugit tempore soluta?
        </p>
      </div>
    </div>
  </div>
</section>
<section id="exercise">
  <div class="w-full">
    <div class="bg-[#042440] w-full flex flex-col h-92"></div>
    <div class="text-center space-y-12 my-12">
      <h1 class="text-[#100D81] text-2xl text-center font-semibold">
        Discover the other exercise at FitSnap
      </h1>
      <div class="flex justify-between w-full">
        <div
          class="w-1/3 flex flex-col text-center items-center justify-center space-y-2 space-x-4"
        >
          <img class="pt-4" src="/assets/icons/Group 1.png" alt="" />
          <div class="space-y-2">
            <h1 class="text-[#100D81] text-xl font-semibold">Chest Press</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              pariatur natus consequuntur accusantium doloremque tenetur odio
              similique cumque rem, aspernatur sunt totam soluta! Dicta iste vel
              quo assumenda ullam nostrum?
            </p>
          </div>
          <div class="text-[#100D81] underline pb-4">
            <a href="">Read More ></a>
          </div>
        </div>
        <div
          class="w-1/3 flex flex-col text-center items-center justify-center space-y-2"
        >
          <img class="pt-4" src="/assets/icons/Group 2.png" alt="" />
          <div class="space-y-2">
            <h1 class="text-[#100D81] text-xl font-semibold">Chest Press</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              pariatur natus consequuntur accusantium doloremque tenetur odio
              similique cumque rem, aspernatur sunt totam soluta! Dicta iste vel
              quo assumenda ullam nostrum?
            </p>
          </div>
          <div class="text-[#100D81] underline pb-4">
            <a href="">Read More ></a>
          </div>
        </div>
        <div
          class="w-1/3 flex flex-col text-center items-center justify-center space-y-2"
        >
          <img class="pt-4" src="/assets/icons/Group 3.png" alt="" />
          <div class="space-y-2">
            <h1 class="text-[#100D81] text-xl font-semibold">Chest Press</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              pariatur natus consequuntur accusantium doloremque tenetur odio
              similique cumque rem, aspernatur sunt totam soluta! Dicta iste vel
              quo assumenda ullam nostrum?
            </p>
          </div>
          <div class="text-[#100D81] underline pb-4">
            <a href="">Read More ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="w-full">
    <div class="bg-[#042440] text-white">
      <div class="flex w-full px-24 py-12">
        <div class="w-1/2 flex items-center">
          <div class="w-1/2">
            <h1 class="font-bold mb-6">COMPANY</h1>
            <div class="text-sm space-y-3">
              <p>Our Story</p>
              <p>Careers</p>
              <p>Blog</p>
              <p><a href="#about">About</a></p>
            </div>
          </div>
          <div class="w-1/2 mr-16">
            <h1 class="font-bold mb-6">HELP</h1>
            <div class="text-sm space-y-3">
              <p>FAQ</p>
              <p>Terms & Conditions</p>
              <p>Privacy Policy</p>
              <p>Contact Us</p>
            </div>
          </div>
          <div></div>
        </div>
        <div class="w-1/2 h-full flex items-start justify-between mt-20 px-12">
          <div
            class="flex flex-col items-center justify-center space-y-2 w-1/2"
          >
            <h1>SOCIAL MEDIA</h1>
            <div class="flex space-x-4">
              <div>
                <button>
                  <a href="https://www.instagram.com/"
                    ><img src="/assets/icons/instagram.png" alt=""
                  /></a>
                </button>
              </div>
              <div>
                <button>
                  <a href="https://www.facebook.com/login/"
                    ><img src="/assets/icons/facebook.png" alt=""
                  /></a>
                </button>
              </div>
              <div>
                <button>
                  <a href="https://www.whatsapp.com/"
                    ><img src="/assets/icons/whatsup.png" alt=""
                  /></a>
                </button>
              </div>
              <div>
                <button>
                  <a href="https://www.linkedin.com/"
                    ><img src="/assets/icons/linkedin.png" alt=""
                  /></a>
                </button>
              </div>
            </div>
          </div>
          <div class="space-y-2 w-1/2">
            <h1>STAY UPDATED WITH US</h1>
            <form action="">
              <div class="relative w-60">
                <input
                  class="py-1 px-2 text-start w-full"
                  type="text"
                  placeholder="Your email address"
                />
                <button class="absolute inset-y-0 right-0 w-5 mr-2">
                  <img src="/assets/icons/Button - submit.png" alt="" />
                </button>
              </div>
            </form>
            <p>Copyright &#64; 2023 Fitsnap</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
